.form {
    position: fixed;
    top: 0;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    width: 99%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 15px;
    background-color: white;
}

.content{
  margin-top: 105px;
  width: 100%;
  height:100%;
}

.detail{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.asteroid-list{
  width: 30%;
  height: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.asteroid-card, .asteroid-detail-card{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-top: 1px;
  background-color: lightgrey;
}

.asteroid-detail-list{
  width: 65%;
  height: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  position: fixed;
  right: 0;
}

.form-button{
  width: 100px;
}

.title{
  position: fixed;
  top:0
}